<footer id="footer">
	<div class="footer-app">
		<div class="inner">
			<div class="footer-block">
				<a href="" class="footer-block__logo">
					<img src="<%= RELATIVE_PATH %>img/footer-logo.png" alt="Võ Hiệp Truyền Kỳ">
				</a>
				<div class="footer-block__ct">
					<h3 class="footer-block__ct-ttl">Võ hiệp truyền kỳ 2 mobile</h3>
					<div class="footer-block__ct-app">
						<div class="footer-block__ct-app-list">
							<a href="" class="c-btn__02">
								<span class="c-btn__02-icon">
									<img src="<%= RELATIVE_PATH %>img/icon-07.png" alt="icon">
								</span>
								<span>
									Đăng ký sớm trên
									<strong>AppStore</strong>
								</span>
							</a>
							<a href="" class="c-btn__02">
								<span class="c-btn__02-icon">
									<img src="<%= RELATIVE_PATH %>img/icon-08.png" alt="icon">
								</span>
								<span>
									Đăng ký sớm trên
									<strong>GooglePlay</strong>
								</span>
							</a>
						</div>
						<div class="footer-block__ct-app-note">
							<img src="<%= RELATIVE_PATH %>img/18.png" alt="18+">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-note">
		điều khoản sử dụng | cài đặt và gỡ bỏ<br>
		chơi game quá 180 phút có hại cho sức khỏe
	</div>
</footer>

<div class="popup " id="popup-ct">
	<div class="popup-show popup-show--nd">
		<div class="popup-show__close"><img src="<%= RELATIVE_PATH %>img/close.png" alt="close"></div>
		<div class="popup-show__ct popup-show__ct--nd">
			<h3 class="popup-show__ct-ttl">
				<span>Nội dung</span>
			</h3>
			<div class="js-bar">
				<p>
					Máy chủ mới Thạch Hổ sẽ chính thức ra mắt giang hồ từ ngày 01/05/2025, kết hợp với hệ thống chiến trường riêng cho các nhân sĩ server mới Thạch Hổ, thêm phần thưởng tăng công trạng nhận thưởng, tham gia đua Top để dễ dàng nhận thưởng những trang bị mới khủng như: <strong class="c-fc--red">Trang bị mới Thiên Dực Tướng - Soái, Kim Xà 9, Thương Hải Châu 9, Chiến Ấn 5 sao, trang bị Lăng Sương, Văn Sức Hoàn Mỹ cấp 6, Thú cưỡi Linh Nghê, Cánh Mê Tiên Dẫn...</strong>
				</p>
				<ul class="popup-show__ct-list ">
					<li class="popup-show__ct-list-item">
						<h4 class="popup-show__ct-list-ttl">Thời gian & điều kiện tham gia</h4>
						<p>
							Thời gian:<br>
							Đua Top Máy Chủ: 10h00 ngày 01/05/2025 đến 24h00 ngày 01/07/2025<br>
							Đua Top Bang Hội Vinh Danh: 10h00 ngày 01/05/2025 đến 24h00 ngày 01/07/2025<br>
							Trao thưởng Top Bang hội: 00h00 đến 24h00 ngày 03/07/2025.<br>
							Điều kiện tham gia: Tất cả nhân sĩ hành tẩu tại máy chủ Thạch Hổ.<br>
							NPC liên quan
						</p>
					</li>
					<li class="popup-show__ct-list-item">
						<h4 class="popup-show__ct-list-ttl">Thưởng nhiệm vụ đặc quyền</h4>
						<p>
							Mỗi ngày nhân vật tại máy chủ mới Thạch Hổ chỉ cần trồng và thu hoạch thành công 1 Bát Nhã Lớn là có thể đến NPC đua top Thạch Hổ (Biện Kinh – 176/178) để nhận thưởng hoàn thành nhiệm vụ hàng ngày. Qua ngày nhiệm vụ sẽ tự reset. <br>
							Phần thưởng nhiệm vụ hàng ngày: Ngẫu nhiên nhận 1 trong các phần thưởng sau:<br>
							1 Chân Võ Hồn Thạch (khóa)<br>
							1 Lệnh Bài Cống Hiến Bang Hội (khóa)<br>
							1 Thiên Thạch Tinh Thạch (khóa, 3 ngày)<br>
							1 Chiến Ấn 4 Sao (tỷ lệ khóa hoặc không khóa)<br>
							3 Kim Mạch Ngân Nhân (khóa)
						</p>
						<p>
							Phần thưởng gia nhập Bang hội: Nhân vật đạt chuyển sinh 8 cấp 90 trở lên chỉ cần gia nhập bang là có thể nhận thưởng (chỉ nhận 1 lần duy nhất).<br>
							10 Lệnh Bài Cống Hiến Bang Hội (khóa)<br>
							5 Chân Võ Hồn Thạch (khóa)<br>
							5 Thương Hải Châu cấp 7 (chưa giám định, khóa)<br>
							5 Chiến Ấn 4 Sao (chưa giám định, khóa)
						</p>
					</li>
					<li class="popup-show__ct-list-item">
						<h4 class="popup-show__ct-list-ttl">Thời gian & điều kiện tham gia</h4>
						<p>
							Thời gian:<br>
							Đua Top Máy Chủ: 10h00 ngày 01/05/2025 đến 24h00 ngày 01/07/2025<br>
							Đua Top Bang Hội Vinh Danh: 10h00 ngày 01/05/2025 đến 24h00 ngày 01/07/2025<br>
							Trao thưởng Top Bang hội: 00h00 đến 24h00 ngày 03/07/2025.<br>
							Điều kiện tham gia: Tất cả nhân sĩ hành tẩu tại máy chủ Thạch Hổ.<br>
							NPC liên quan
						</p>
					</li>
					<li class="popup-show__ct-list-item">
						<h4 class="popup-show__ct-list-ttl">Thưởng nhiệm vụ đặc quyền</h4>
						<p>
							Mỗi ngày nhân vật tại máy chủ mới Thạch Hổ chỉ cần trồng và thu hoạch thành công 1 Bát Nhã Lớn là có thể đến NPC đua top Thạch Hổ (Biện Kinh – 176/178) để nhận thưởng hoàn thành nhiệm vụ hàng ngày. Qua ngày nhiệm vụ sẽ tự reset. <br>
							Phần thưởng nhiệm vụ hàng ngày: Ngẫu nhiên nhận 1 trong các phần thưởng sau:<br>
							1 Chân Võ Hồn Thạch (khóa)<br>
							1 Lệnh Bài Cống Hiến Bang Hội (khóa)<br>
							1 Thiên Thạch Tinh Thạch (khóa, 3 ngày)<br>
							1 Chiến Ấn 4 Sao (tỷ lệ khóa hoặc không khóa)<br>
							3 Kim Mạch Ngân Nhân (khóa)
						</p>
						<p>
							Phần thưởng gia nhập Bang hội: Nhân vật đạt chuyển sinh 8 cấp 90 trở lên chỉ cần gia nhập bang là có thể nhận thưởng (chỉ nhận 1 lần duy nhất).<br>
							10 Lệnh Bài Cống Hiến Bang Hội (khóa)<br>
							5 Chân Võ Hồn Thạch (khóa)<br>
							5 Thương Hải Châu cấp 7 (chưa giám định, khóa)<br>
							5 Chiến Ấn 4 Sao (chưa giám định, khóa)
						</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="popup " id="popup-gift">
	<div class="popup-show popup-show--gift">
		<div class="popup-show__close"><img src="<%= RELATIVE_PATH %>img/close.png" alt="close"></div>
		<div class="popup-show__ct popup-show__ct--gift">
			<h3 class="popup-show__ct-ttl popup-show__ct-ttl--small">
				<span>Quà mốc 50,000</span>
			</h3>
			<ul class="popup-show__gift">
				<li class="popup-show__gift-item">
					<img src="<%= RELATIVE_PATH %>img/gift-06.png" alt="img">
					<h4 class="popup-show__gift-ttl">
						Bát Nhã Tâm Kinh X2
					</h4>
				</li>
				<li class="popup-show__gift-item">
					<img src="<%= RELATIVE_PATH %>img/gift-06.png" alt="img">
					<h4 class="popup-show__gift-ttl">
						Kim Mạch Dao Quang (khóa) X2
					</h4>
				</li>
				<li class="popup-show__gift-item">
					<img src="<%= RELATIVE_PATH %>img/gift-06.png" alt="img">
					<h4 class="popup-show__gift-ttl">
						Mảnh Hoàng Đồng (khóa) X2
					</h4>
				</li>
				<li class="popup-show__gift-item">
					<img src="<%= RELATIVE_PATH %>img/gift-06.png" alt="img">
					<h4 class="popup-show__gift-ttl">
						Bát Nhã Tâm Kinh X2
					</h4>
				</li>
				<li class="popup-show__gift-item">
					<img src="<%= RELATIVE_PATH %>img/gift-06.png" alt="img">
					<h4 class="popup-show__gift-ttl">
						Kim Mạch Dao Quang (khóa) X2
					</h4>
				</li>
				<li class="popup-show__gift-item">
					<img src="<%= RELATIVE_PATH %>img/gift-06.png" alt="img">
					<h4 class="popup-show__gift-ttl">
						Mảnh Hoàng Đồng (khóa) X2
					</h4>
				</li>
				<li class="popup-show__gift-item">
					<img src="<%= RELATIVE_PATH %>img/gift-06.png" alt="img">
					<h4 class="popup-show__gift-ttl">
						Bát Nhã Tâm Kinh X2
					</h4>
				</li>
				<li class="popup-show__gift-item">
					<img src="<%= RELATIVE_PATH %>img/gift-06.png" alt="img">
					<h4 class="popup-show__gift-ttl">
						Kim Mạch Dao Quang (khóa) X2
					</h4>
				</li>
				<li class="popup-show__gift-item">
					<img src="<%= RELATIVE_PATH %>img/gift-06.png" alt="img">
					<h4 class="popup-show__gift-ttl">
						Mảnh Hoàng Đồng (khóa) X2
					</h4>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="popup" id="popup-task">
	<div class="popup-show popup-show--nd">
		<div class="popup-show__close"><img src="<%= RELATIVE_PATH %>img/close.png" alt="close"></div>
		<div class="popup-show__ct popup-show__ct--nd">
			<h3 class="popup-show__ct-ttl">
				<span>Nhiệm vụ nhận lượt</span>
			</h3>
			<div class="js-bar">
				<ul class="popup-show__task">
					<li class="popup-show__task-item">
						<div class="popup-show__task-img">
							<img src="<%= RELATIVE_PATH %>img/task-icon.png" alt="task">
						</div>
						<div class="popup-show__task-ct">
							<h4 class="popup-show__task-ct-ttl">Share mỗi ngày</h4>
							<p>Nhận được 1 lượt tưới cây/ngày</p>
						</div>
						<div class="popup-show__task-btn">
							<a href="" class="c-btn__02">
								<span>ĐẾN</span>
							</a>
						</div>
					</li>
					<li class="popup-show__task-item">
						<div class="popup-show__task-img">
							<img src="<%= RELATIVE_PATH %>img/task-icon.png" alt="task">
						</div>
						<div class="popup-show__task-ct">
							<h4 class="popup-show__task-ct-ttl">Share mỗi ngày</h4>
							<p>Nhận được 1 lượt tưới cây/ngày</p>
						</div>
						<div class="popup-show__task-btn">
							<a href="" class="c-btn__02">
								<span>ĐẾN</span>
							</a>
						</div>
					</li>
					<li class="popup-show__task-item">
						<div class="popup-show__task-img">
							<img src="<%= RELATIVE_PATH %>img/task-icon.png" alt="task">
						</div>
						<div class="popup-show__task-ct">
							<h4 class="popup-show__task-ct-ttl">Share mỗi ngày</h4>
							<p>Nhận được 1 lượt tưới cây/ngày</p>
						</div>
						<div class="popup-show__task-btn">
							<img src="<%= RELATIVE_PATH %>img/task-check.png" alt="task">
						</div>
					</li>
					<li class="popup-show__task-item">
						<div class="popup-show__task-img">
							<img src="<%= RELATIVE_PATH %>img/task-icon.png" alt="task">
						</div>
						<div class="popup-show__task-ct">
							<h4 class="popup-show__task-ct-ttl">Share mỗi ngày</h4>
							<p>Nhận được 1 lượt tưới cây/ngày</p>
						</div>
						<div class="popup-show__task-btn">
							<a href="" class="c-btn__02">
								<span>ĐẾN</span>
							</a>
						</div>
					</li>
					<li class="popup-show__task-item">
						<div class="popup-show__task-img">
							<img src="<%= RELATIVE_PATH %>img/task-icon.png" alt="task">
						</div>
						<div class="popup-show__task-ct">
							<h4 class="popup-show__task-ct-ttl">Share mỗi ngày</h4>
							<p>Nhận được 1 lượt tưới cây/ngày</p>
						</div>
						<div class="popup-show__task-btn">
							<a href="" class="c-btn__02">
								<span>ĐẾN</span>
							</a>
						</div>
					</li>
					<li class="popup-show__task-item">
						<div class="popup-show__task-img">
							<img src="<%= RELATIVE_PATH %>img/task-icon.png" alt="task">
						</div>
						<div class="popup-show__task-ct">
							<h4 class="popup-show__task-ct-ttl">Share mỗi ngày</h4>
							<p>Nhận được 1 lượt tưới cây/ngày</p>
						</div>
						<div class="popup-show__task-btn">
							<a href="" class="c-btn__02">
								<span>ĐẾN</span>
							</a>
						</div>
					</li>
					<li class="popup-show__task-item">
						<div class="popup-show__task-img">
							<img src="<%= RELATIVE_PATH %>img/task-icon.png" alt="task">
						</div>
						<div class="popup-show__task-ct">
							<h4 class="popup-show__task-ct-ttl">Share mỗi ngày</h4>
							<p>Nhận được 1 lượt tưới cây/ngày</p>
						</div>
						<div class="popup-show__task-btn">
							<img src="<%= RELATIVE_PATH %>img/task-check.png" alt="task">
						</div>
					</li>
					<li class="popup-show__task-item">
						<div class="popup-show__task-img">
							<img src="<%= RELATIVE_PATH %>img/task-icon.png" alt="task">
						</div>
						<div class="popup-show__task-ct">
							<h4 class="popup-show__task-ct-ttl">Share mỗi ngày</h4>
							<p>Nhận được 1 lượt tưới cây/ngày</p>
						</div>
						<div class="popup-show__task-btn">
							<a href="" class="c-btn__02">
								<span>ĐẾN</span>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="popup active" id="popup-history">
	<div class="popup-show popup-show--nd">
		<div class="popup-show__close"><img src="<%= RELATIVE_PATH %>img/close.png" alt="close"></div>
		<div class="popup-show__ct popup-show__ct--nd">
			<h3 class="popup-show__ct-ttl">
				<span>Lịch sử</span>
			</h3>
			<div class="popup-show__history">
				<table>
					<tr>
						<th>STT</th>
						<th>Phần thưởng</th>
						<th>Loại</th>
						<th>Trạng Thái</th>
						<th>Thời gian</th>
					</tr>
					<tr>
						<td>1</td>
						<td>ABCXYZZZZZ</td>
						<td>ABCXYZZZZZ</td>
						<td><span class="c-fc--green">Đã nhận</span></td>
						<td>30/04/25 15:00</td>
					</tr>
					<tr>
						<td>1</td>
						<td>ABCXYZZZZZ</td>
						<td>ABCXYZZZZZ</td>
						<td><span class="c-fc--green">Đã nhận</span></td>
						<td>30/04/25 15:00</td>
					</tr>
					<tr>
						<td>1</td>
						<td>ABCXYZZZZZ</td>
						<td>ABCXYZZZZZ</td>
						<td><span class="c-fc--green">Đã nhận</span></td>
						<td>30/04/25 15:00</td>
					</tr>
					<tr>
						<td>1</td>
						<td>ABCXYZZZZZ</td>
						<td>ABCXYZZZZZ</td>
						<td><span class="c-fc--green">Đã nhận</span></td>
						<td>30/04/25 15:00</td>
					</tr>
					<tr>
						<td>1</td>
						<td>ABCXYZZZZZ</td>
						<td>ABCXYZZZZZ</td>
						<td><span class="c-fc--green">Đã nhận</span></td>
						<td>30/04/25 15:00</td>
					</tr>
					<tr>
						<td>1</td>
						<td>ABCXYZZZZZ</td>
						<td>ABCXYZZZZZ</td>
						<td><span class="c-fc--green">Đã nhận</span></td>
						<td>30/04/25 15:00</td>
					</tr>
					<tr>
						<td>1</td>
						<td>ABCXYZZZZZ</td>
						<td>ABCXYZZZZZ</td>
						<td><span class="c-fc--green">Đã nhận</span></td>
						<td>30/04/25 15:00</td>
					</tr>
					<tr>
						<td>1</td>
						<td>ABCXYZZZZZ</td>
						<td>ABCXYZZZZZ</td>
						<td><span class="c-fc--green">Đã nhận</span></td>
						<td>30/04/25 15:00</td>
					</tr>
					<tr>
						<td>1</td>
						<td>ABCXYZZZZZ</td>
						<td>ABCXYZZZZZ</td>
						<td><span class="c-fc--green">Đã nhận</span></td>
						<td>30/04/25 15:00</td>
					</tr>
				</table>
				<div class="popup-show__navigation">
					<a href="" class="popup-show__navigation-prev">Trang trước</a>
					<a href="" class="popup-show__navigation-next">Trang kế</a>
				</div>
			</div>
		</div>
	</div>
</div>