<header id="header">
	<a href="<%= RELATIVE_PATH %>" class="header-logo">
		<img src="<%= RELATIVE_PATH %>img/logo.png" alt="Võ Hiệp Truyền Kỳ">
	</a>
	<nav class="header-nav">
		<div class="header-nav__logo sp-tb">
			<img src="<%= RELATIVE_PATH %>img/logo.png" alt="Võ Hiệp Truyền Kỳ">
		</div>
		<ul class="header-nav__menu">
			<li class="header-nav__menu-item">
				<a href="">Trang chủ </a>
			</li>
			<li class="header-nav__menu-item">
				<a href="#work" class="js-scroll">Đặc sắc</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="">Cộng đồng</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="">Hotline</a>
			</li>
		</ul>
		<ul class="header-nav__sns sp-tb">
			<li>
				<a href="" target="_blank">
					<img src="<%= RELATIVE_PATH %>img/icon-youtube.png" alt="youtube">
				</a>
			</li>
			<li>
				<a href="" target="_blank">
					<img src="<%= RELATIVE_PATH %>img/icon-facebook.png" alt="facebook">
				</a>
			</li>
			<li>
				<a href="" target="_blank">
					<img src="<%= RELATIVE_PATH %>img/icon-group.png" alt="group">
				</a>
			</li>
		</ul>
	</nav>
	<a href="" class="header-btn sp-tb js-popup-forget">
		<span>Đăng ký 3c ID</span>
	</a>
	<span class="js-mobile">
		<span></span>
	</span>

</header>