<header id="header">
	<a href="<%= RELATIVE_PATH %>" class="header-logo">
		<img src="<%= RELATIVE_PATH %>img/logo.png" alt="Võ Hiệp Truyền Kỳ">
	</a>
	<nav class="header-nav">
		<ul class="header-nav__menu">
			<li class="header-nav__menu-item">
				<a href="">Trang chủ </a>
			</li>
			<li class="header-nav__menu-item">
				<a href="">Đặc sắc</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="">Cộng đồng</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="">Hotline</a>
			</li>
		</ul>
	</nav>
	<span class="js-mobile">
		<span></span>
	</span>
	<div class="float-right">
		<div class="float-right__menu">
			<img src="<%= RELATIVE_PATH %>img/bg-menu.png" alt="Võ Hiệp Truyền Kỳ">
			<ul>
				<li>
					<a href="" class="c-btn__02">
						<span>Đăng ký 3C ID</span>
					</a>
				</li>
				<li>
					<a href="" class="c-btn__02">
						<span>Group</span>
					</a>
				</li>
				<li>
					<a href="" class="c-btn__02">
						<span>fanpage</span>
					</a>
				</li>
			</ul>
		</div>
		<a href="/" class="float-right__top">
			<img src="<%= RELATIVE_PATH %>img/top.png" alt="Top" class="img-01">
			<img src="<%= RELATIVE_PATH %>img/top-hv.png" alt="Top" class="img-02">
		</a>
		<div class="float-right__gift">
			<img src="<%= RELATIVE_PATH %>img/float-right-gift.png" alt="Quà Thái Hư">
			<a href="" class="c-btn__01">
				<span>Nhận Ngay</span>
			</a>
		</div>
	</div>
</header>