<header id="header">
	<a href="<%= RELATIVE_PATH %>" class="header-logo">
		<img src="<%= RELATIVE_PATH %>img/logo.png" alt="Võ Hiệp Truyền Kỳ">
	</a>
	<nav class="header-nav">
		<div class="header-nav__logo sp-tb">
			<img src="<%= RELATIVE_PATH %>img/logo.png" alt="Võ Hiệp Truyền Kỳ">
		</div>
		<ul class="header-nav__menu">
			<li class="header-nav__menu-item">
				<a href="">Trang chủ </a>
			</li>
			<li class="header-nav__menu-item">
				<a href="#work" class="js-scroll">Đặc sắc</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="">Cộng đồng</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="">Hotline</a>
			</li>
		</ul>
		<ul class="header-nav__sns sp-tb">
			<li>
				<a href="" target="_blank">
					<img src="<%= RELATIVE_PATH %>img/icon-youtube.png" alt="youtube">
				</a>
			</li>
			<li>
				<a href="" target="_blank">
					<img src="<%= RELATIVE_PATH %>img/icon-facebook.png" alt="facebook">
				</a>
			</li>
			<li>
				<a href="" target="_blank">
					<img src="<%= RELATIVE_PATH %>img/icon-group.png" alt="group">
				</a>
			</li>
		</ul>
	</nav>
	<a href="" class="header-btn sp-tb js-popup-forget">
		<span>Đăng ký 3c ID</span>
	</a>
	<span class="js-mobile">
		<span></span>
	</span>
	<div class="float-right">
		<div class="float-right__menu pc-tb">
			<img src="<%= RELATIVE_PATH %>img/bg-menu.png" alt="Võ Hiệp Truyền Kỳ">
			<ul>
				<li>
					<a href="" class="c-btn__02 js-popup-forget">
						<span>Đăng ký 3C ID</span>
					</a>
				</li>
				<li>
					<a href="" class="c-btn__02">
						<span>Group</span>
					</a>
				</li>
				<li>
					<a href="" class="c-btn__02">
						<span>fanpage</span>
					</a>
				</li>
			</ul>
		</div>
		<a href="" class="float-right__top js-backtop">
			<img src="<%= RELATIVE_PATH %>img/top.png" alt="Top" class="img-01">
			<img src="<%= RELATIVE_PATH %>img/top-hv.png" alt="Top" class="img-02">
		</a>
	</div>
	<div class="float-left pc-tb">
		<img src="<%= RELATIVE_PATH %>img/float-right-gift.png" alt="Quà Thái Hư">
		<a href="#procedure" class="c-btn__01 js-scroll">
			<span>Nhận Ngay</span>
		</a>
	</div>
</header>