<main class="page-<%= pageData.template %>">
	<section class="sec-mv">
		<div class="mv-video">
			<video class="pc" src="<%= RELATIVE_PATH %>img/mv.mp4" loop autoplay muted webkit-playsinline playsinline ></video>
			<video class="sp" src="<%= RELATIVE_PATH %>img/mv-sp.mp4" loop autoplay muted webkit-playsinline playsinline ></video>
		</div>
		<div class="mv-block">
			<div class="mv-block__clip">
				<img src="<%= RELATIVE_PATH %>img/clip.png" alt="icon" >
			</div>
			<ul class="mv-block__menu">
				<li class="mv-block__menu-item">
					<a href="#gift" class="c-btn__01 js-scroll">
						<span class="c-btn__01-icon"><img src="<%= RELATIVE_PATH %>img/icon-01.png" alt="icon" ></span>
						<span>Đăng ký <span>&nbsp;sớm</span></span>
					</a>
				</li>
				<li class="mv-block__menu-item">
					<a href="" class="c-btn__01 js-popup-ct">
						<span class="c-btn__01-icon"><img src="<%= RELATIVE_PATH %>img/icon-02.png" alt="icon" ></span>
						<span>
							thông tin<br>
							<span>alpha test</span>
						</span>
					</a>
				</li>
				<li class="mv-block__menu-item">
					<a href="" class="c-btn__01 js-popup-noti">
						<span class="c-btn__01-icon"><img src="<%= RELATIVE_PATH %>img/icon-03.png" alt="icon" ></span>
						<span>Tải Game</span>
					</a>
				</li>
			</ul>
		</div>
	</section>
	<section class="sec-gift">
		<div class="inner">
			<div class="gift-block" id="gift">
				<div class="heading">
					<div class="heading-bg">
						<img src="<%= RELATIVE_PATH %>img/heading-01.png" alt="hẹn ước võ hiệp - quà quý trao tay" class="pc">
						<img src="<%= RELATIVE_PATH %>img/heading-01-sp.png" alt="hẹn ước võ hiệp - quà quý trao tay" class="sp">
					</div>
				</div>
				<div class="gift-block__view">
					<h3 class="gift-block__view-ttl"><span>Số người báo danh đạt</span></h3>
					<span class="gift-block__view-number">50,000</span>
				</div>
				<div class="gift-block__show">
					<div class="gift-block__show-line">
						<img src="<%= RELATIVE_PATH %>img/line.png" alt="line">
						<span class="gift-block__show-line--custom" style="width: 40%"></span>
					</div>
					<ul class="gift-block__list">
						<li class="gift-block__list-item js-popup-gift">
							<div class="gift-block__list-box">
								<img src="<%= RELATIVE_PATH %>img/item-gift.png" alt="img" class="pc">
								<img src="<%= RELATIVE_PATH %>img/item-gift-sp.png" alt="img" class="sp">
							</div>
							<div class="gift-block__list-ct">
								quà mốc
								<span>5000</span>
							</div>
							<div class="gift-block__list-note">
								<img src="<%= RELATIVE_PATH %>img/gift-01.png" alt="gift">
							</div>
						</li>
						<li class="gift-block__list-item js-popup-noti02">
							<div class="gift-block__list-box">
								<img src="<%= RELATIVE_PATH %>img/item-gift.png" alt="img" class="pc">
								<img src="<%= RELATIVE_PATH %>img/item-gift-sp.png" alt="img" class="sp">
							</div>
							<div class="gift-block__list-ct">
								quà mốc
								<span>10000</span>
							</div>
							<div class="gift-block__list-note">
								<img src="<%= RELATIVE_PATH %>img/gift-02.png" alt="gift">
							</div>
						</li>
						<li class="gift-block__list-item">
							<div class="gift-block__list-box">
								<img src="<%= RELATIVE_PATH %>img/item-gift.png" alt="img" class="pc">
								<img src="<%= RELATIVE_PATH %>img/item-gift-sp.png" alt="img" class="sp">
							</div>
							<div class="gift-block__list-ct">
								quà mốc
								<span>20000</span>
							</div>
							<div class="gift-block__list-note">
								<img src="<%= RELATIVE_PATH %>img/gift-03.png" alt="gift">
							</div>
						</li>
						<li class="gift-block__list-item">
							<div class="gift-block__list-box">
								<img src="<%= RELATIVE_PATH %>img/item-gift.png" alt="img" class="pc">
								<img src="<%= RELATIVE_PATH %>img/item-gift-sp.png" alt="img" class="sp">
							</div>
							<div class="gift-block__list-ct">
								quà mốc
								<span>30000</span>
							</div>
							<div class="gift-block__list-note">
								<img src="<%= RELATIVE_PATH %>img/gift-04.png" alt="gift">
							</div>
						</li>
						<li class="gift-block__list-item">
							<div class="gift-block__list-box">
								<img src="<%= RELATIVE_PATH %>img/item-gift.png" alt="img" class="pc">
								<img src="<%= RELATIVE_PATH %>img/item-gift-sp.png" alt="img" class="sp">
							</div>
							<div class="gift-block__list-ct">
								quà mốc
								<span>50000</span>
							</div>
							<div class="gift-block__list-note">
								<img src="<%= RELATIVE_PATH %>img/gift-05.png" alt="gift">
							</div>
						</li>
					</ul>
				</div>
				<a href="" class="c-btn__01 js-popup-forget">
					<span>Hẹn ước <span>&nbsp;ngay</span></span>
				</a>
			</div>
		</div>
	</section>
	<section class="sec-procedure">
		<div class="inner">
			<div class="heading">
				<div class="heading-bg">
					<img src="<%= RELATIVE_PATH %>img/heading-02.png" alt="thái hư giáng thế - vạn bảo quy lai" class="pc">
					<img src="<%= RELATIVE_PATH %>img/heading-02-sp.png" alt="thái hư giáng thế - vạn bảo quy lai" class="sp">
				</div>
			</div>
			<div class="procedure-heading">
				<div class="procedure-box">
					<p>Xin vui lòng đăng nhập để tham gia sự kiện này</p>
					<a href="" class="procedure-box__btn js-popup-login">Đăng nhập</a>
				</div>
				<div class="procedure-box" >
					<div class="procedure-box__left">
						Xin chào,  <span>võhiệptruyềnkỳ01</span>
					</div>
					<div class="procedure-box__right">
						<ul class="procedure-box__note">
							<li>
								<a href="" class="procedure-box__btn">Số lượt: 15</a>
							</li>
							<li>
								<a href="" class="procedure-box__btn">Thể lệ</a>
							</li>
							<li>
								<a href="" class="procedure-box__btn js-popup-task">Nhận lượt</a>
							</li>
							<li>
								<a href="" class="procedure-box__btn js-popup-history">Lịch sử</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="procedure-block">
				<div class="procedure-show" id="procedure">
					<div class="procedure-show__item procedure-show__item--left">
						<div class="procedure-show__bg">
							<img src="<%= RELATIVE_PATH %>img/item-left.png" alt="img" class="pc">
							<img src="<%= RELATIVE_PATH %>img/item-left-sp.png" alt="img" class="sp">
							<div class="procedure-show__block">
								<h3 class="procedure-show__block-ttl">
									cây bát nhã nhỏ
								</h3>
								<div class="procedure-show__block-img">
									<img src="<%= RELATIVE_PATH %>img/cayvua.gif" alt="img">
								</div>
								<div class="procedure-show__block-note">
									Độ trưởng thành
									<span>3/5</span>
								</div>
								<a href="" class="c-btn__01">
									<span>Tưới nước</span>
								</a>
							</div>
						</div>
					</div>
					<div class="procedure-show__item procedure-show__item--tight">
						<div class="procedure-show__bg">
							<img src="<%= RELATIVE_PATH %>img/item-right.png" alt="img" class="pc">
							<img src="<%= RELATIVE_PATH %>img/item-right-sp.png" alt="img" class="sp">
							<div class="procedure-show__block">
								<h3 class="procedure-show__block-ttl">
									cây bát nhã Lớn
								</h3>
								<div class="procedure-show__block-img">
									<img src="<%= RELATIVE_PATH %>img/cayto.gif" alt="img">
								</div>
								<div class="procedure-show__block-note">
									Độ trưởng thành
									<span class="c-fc--green">5/5</span>
								</div>
								<a href="" class="c-btn__01">
									<span>Thu Hoạch</span>
								</a>
							</div>
						</div>

					</div>
				</div>
				<div class="procedure-show__custom">
					<img src="<%= RELATIVE_PATH %>img/procedure-af.png" alt="img" class="pc">
					<img src="<%= RELATIVE_PATH %>img/procedure-af-sp.png" alt="img" class="sp">
				</div>
			</div>
		</div>
	</section>
	<section class="sec-gallery">
		<div class="inner">
			<div class="heading mb0">
				<div class="heading-bg">
					<img src="<%= RELATIVE_PATH %>img/heading-03.png" alt="thất đại môn phái" class="pc">
					<img src="<%= RELATIVE_PATH %>img/heading-03-sp.png" alt="thất đại môn phái" class="sp">
				</div>
			</div>
			<div class="gallery-show">
				<ul class="gallery-show__for">
					<li class="gallery-show__for-item">
						<div class="gallery-block">
							<div class="gallery-block__ttl">
								<img src="<%= RELATIVE_PATH %>img/item-01.png" alt="img">
								<div class="gallery-block__ttl-note">
									<p>
										<strong>Hệ phái:</strong>&nbsp; Võ Tông, Thiền Tông, Tục Gia
									</p>
									<p>
										<strong>Tuyệt Học:</strong>&nbsp; Như Lai Thần Chưởng, Tẩy Tủy Kinh, Dịch Cân Kinh
									</p>
									<p>
										<strong>Vũ Khí:</strong>&nbsp; Thiết Thủ, Trượng, Côn Dài, Đao
									</p>
								</div>
							</div>
							<div class="gallery-block__bg-show">
								<img src="<%= RELATIVE_PATH %>img/bg-show.png" alt="img">
							</div>
							<div class="gallery-block__img">
								<img src="<%= RELATIVE_PATH %>img/show-01.png" alt="img">
							</div>
							<div class="gallery-block__video">
								<img src="<%= RELATIVE_PATH %>img/video.png" alt="img">
							</div>
						</div>
					</li>
					<li class="gallery-show__for-item">
						<div class="gallery-block">
							<div class="gallery-block__ttl">
								<img src="<%= RELATIVE_PATH %>img/item-02.png" alt="img">
								<div class="gallery-block__ttl-note">
									<p>
										<strong>Hệ phái:</strong>&nbsp; Tĩnh Y, Ô Y
									</p>
									<p>
										<strong>Tuyệt Học:</strong>&nbsp; Giáng Long Thập Bát Chưởng, Đả Cẩu Côn Pháp
									</p>
									<p>
										<strong>Vũ Khí:</strong>&nbsp; Thiết Thủ, Côn Dài
									</p>
								</div>
							</div>
							<div class="gallery-block__bg-show">
								<img src="<%= RELATIVE_PATH %>img/bg-show.png" alt="img">
							</div>
							<div class="gallery-block__img">
								<img src="<%= RELATIVE_PATH %>img/show-02.png" alt="img">
							</div>
							<div class="gallery-block__video">
								<img src="<%= RELATIVE_PATH %>img/video.png" alt="img">
							</div>
						</div>
					</li>
					<li class="gallery-show__for-item">
						<div class="gallery-block">
							<div class="gallery-block__ttl">
								<img src="<%= RELATIVE_PATH %>img/item-03.png" alt="img">
								<div class="gallery-block__ttl-note">
									<p>
										<strong>Hệ phái:</strong>&nbsp; Đạo Gia, Tục Gia
									</p>
									<p>
										<strong>Tuyệt Học:</strong>&nbsp; Vô Thượng Thái Cực Kiếm, Thái Cực Thần Công
									</p>
									<p>
										<strong>Vũ Khí:</strong>&nbsp; Kiếm, Bút
									</p>
								</div>
							</div>
							<div class="gallery-block__bg-show">
								<img src="<%= RELATIVE_PATH %>img/bg-show.png" alt="img">
							</div>
							<div class="gallery-block__img">
								<img src="<%= RELATIVE_PATH %>img/show-03.png" alt="img">
							</div>
							<div class="gallery-block__video">
								<img src="<%= RELATIVE_PATH %>img/video.png" alt="img">
							</div>
						</div>
					</li>
					<li class="gallery-show__for-item">
						<div class="gallery-block">
							<div class="gallery-block__ttl">
								<img src="<%= RELATIVE_PATH %>img/item-04.png" alt="img">
								<div class="gallery-block__ttl-note">
									<p>
										<strong>Hệ phái:</strong>&nbsp; Thương Kỵ, Cung Kỵ
									</p>
									<p>
										<strong>Tuyệt Học:</strong>&nbsp; Liên Hoàn Toàn Long Thương, Bá Vương Tường Phụng Tiễn
									</p>
									<p>
										<strong>Vũ Khí:</strong>&nbsp; Thương, Cung
									</p>
								</div>
							</div>
							<div class="gallery-block__bg-show">
								<img src="<%= RELATIVE_PATH %>img/bg-show.png" alt="img">
							</div>
							<div class="gallery-block__img gallery-block__img--04">
								<img src="<%= RELATIVE_PATH %>img/show-04.png" alt="img">
							</div>
							<div class="gallery-block__video">
								<img src="<%= RELATIVE_PATH %>img/video.png" alt="img">
							</div>
						</div>
					</li>
					<li class="gallery-show__for-item">
						<div class="gallery-block">
							<div class="gallery-block__ttl">
								<img src="<%= RELATIVE_PATH %>img/item-05.png" alt="img">
								<div class="gallery-block__ttl-note">
									<p>
										<strong>Hệ phái:</strong>&nbsp; Tà Độc, Hiệp Độc
									</p>
									<p>
										<strong>Tuyệt Học:</strong>&nbsp; Vô Ảnh Ma Cổ, Vô Thiên Ma Công
									</p>
									<p>
										<strong>Vũ Khí:</strong>&nbsp; Trảo, Song Đao
									</p>
								</div>
							</div>
							<div class="gallery-block__bg-show">
								<img src="<%= RELATIVE_PATH %>img/bg-show.png" alt="img">
							</div>
							<div class="gallery-block__img gallery-block__img--05">
								<img src="<%= RELATIVE_PATH %>img/show-05.png" alt="img">
							</div>
							<div class="gallery-block__video">
								<img src="<%= RELATIVE_PATH %>img/video.png" alt="img">
							</div>
						</div>
					</li>
					<li class="gallery-show__for-item">
						<div class="gallery-block">
							<div class="gallery-block__ttl">
								<img src="<%= RELATIVE_PATH %>img/item-06.png" alt="img">
								<div class="gallery-block__ttl-note">
									<p>
										<strong>Hệ phái:</strong>&nbsp; Đường Môn Châm
									</p>
									<p>
										<strong>Tuyệt Học:</strong>&nbsp; Hấp Tinh Trận
									</p>
									<p>
										<strong>Vũ Khí:</strong>&nbsp; Phi Châm
									</p>
								</div>
							</div>
							<div class="gallery-block__bg-show">
								<img src="<%= RELATIVE_PATH %>img/bg-show.png" alt="img">
							</div>
							<div class="gallery-block__img gallery-block__img--06">
								<img src="<%= RELATIVE_PATH %>img/show-06.png" alt="img">
							</div>
							<div class="gallery-block__video">
								<img src="<%= RELATIVE_PATH %>img/video.png" alt="img">
							</div>
						</div>
					</li>
					<li class="gallery-show__for-item">
						<div class="gallery-block">
							<div class="gallery-block__ttl">
								<img src="<%= RELATIVE_PATH %>img/item-07.png" alt="img">
								<div class="gallery-block__ttl-note">
									<p>
										<strong>Hệ phái:</strong>&nbsp; Phật Gia, Tục Gia
									</p>
									<p>
										<strong>Tuyệt Học:</strong>&nbsp; Vạn Tướng Thần Công, Thiên Âm Trấn Hồn Khúc
									</p>
									<p>
										<strong>Vũ Khí:</strong>&nbsp;Kiếm, Cầm
									</p>
								</div>
							</div>
							<div class="gallery-block__bg-show">
								<img src="<%= RELATIVE_PATH %>img/bg-show.png" alt="img">
							</div>
							<div class="gallery-block__img gallery-block__img--07">
								<img src="<%= RELATIVE_PATH %>img/show-07.png" alt="img">
							</div>
							<div class="gallery-block__video">
								<img src="<%= RELATIVE_PATH %>img/video.png" alt="img">
							</div>
						</div>
					</li>
				</ul>
				<ul class="gallery-show__nav">
					<li class="gallery-show__nav-item">
						<div class="gallery-show__nav-box">
							<img src="<%= RELATIVE_PATH %>img/icon-list-01.png" alt="img" class="img-01">
							<img src="<%= RELATIVE_PATH %>img/icon-list-01-hv.png" alt="img" class="img-02">
						</div>
					</li>
					<li class="gallery-show__nav-item">
						<div class="gallery-show__nav-box">
							<img src="<%= RELATIVE_PATH %>img/icon-list-02.png" alt="img" class="img-01">
							<img src="<%= RELATIVE_PATH %>img/icon-list-02-hv.png" alt="img" class="img-02">
						</div>
					</li>
					<li class="gallery-show__nav-item">
						<div class="gallery-show__nav-box">
							<img src="<%= RELATIVE_PATH %>img/icon-list-03.png" alt="img" class="img-01">
							<img src="<%= RELATIVE_PATH %>img/icon-list-03-hv.png" alt="img" class="img-02">
						</div>
					</li>
					<li class="gallery-show__nav-item">
						<div class="gallery-show__nav-box">
							<img src="<%= RELATIVE_PATH %>img/icon-list-04.png" alt="img" class="img-01">
							<img src="<%= RELATIVE_PATH %>img/icon-list-04-hv.png" alt="img" class="img-02">
						</div>
					</li>
					<li class="gallery-show__nav-item">
						<div class="gallery-show__nav-box">
							<img src="<%= RELATIVE_PATH %>img/icon-list-05.png" alt="img" class="img-01">
							<img src="<%= RELATIVE_PATH %>img/icon-list-05-hv.png" alt="img" class="img-02">
						</div>
					</li>
					<li class="gallery-show__nav-item">
						<div class="gallery-show__nav-box">
							<img src="<%= RELATIVE_PATH %>img/icon-list-06.png" alt="img" class="img-01">
							<img src="<%= RELATIVE_PATH %>img/icon-list-06-hv.png" alt="img" class="img-02">
						</div>
					</li>
					<li class="gallery-show__nav-item">
						<div class="gallery-show__nav-box">
							<img src="<%= RELATIVE_PATH %>img/icon-list-07.png" alt="img" class="img-01">
							<img src="<%= RELATIVE_PATH %>img/icon-list-07-hv.png" alt="img" class="img-02">
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<section class="sec-work" id="work" >
		<div class="inner">
			<div class="heading" >
				<div class="heading-bg">
					<img src="<%= RELATIVE_PATH %>img/heading-04.png" alt="Hoạt động đặc sắc" class="pc">
					<img src="<%= RELATIVE_PATH %>img/heading-04-sp.png" alt="Hoạt động đặc sắc" class="sp">
				</div>
			</div>
			<ul class="work-banner">
				<li class="work-banner__item">
					<img src="<%= RELATIVE_PATH %>img/banner-01.jpg" alt="Phiển bản 2008">
				</li>
				<li class="work-banner__item">
					<img src="<%= RELATIVE_PATH %>img/banner-01.jpg" alt="Phiển bản 2008">
				</li>
				<li class="work-banner__item">
					<img src="<%= RELATIVE_PATH %>img/banner-01.jpg" alt="Phiển bản 2008">
				</li>
				<li class="work-banner__item">
					<img src="<%= RELATIVE_PATH %>img/banner-01.jpg" alt="Phiển bản 2008">
				</li>
				<li class="work-banner__item">
					<img src="<%= RELATIVE_PATH %>img/banner-01.jpg" alt="Phiển bản 2008">
				</li>
				<li class="work-banner__item">
					<img src="<%= RELATIVE_PATH %>img/banner-01.jpg" alt="Phiển bản 2008">
				</li>
				<li class="work-banner__item">
					<img src="<%= RELATIVE_PATH %>img/banner-01.jpg" alt="Phiển bản 2008">
				</li>
				<li class="work-banner__item">
					<img src="<%= RELATIVE_PATH %>img/banner-01.jpg" alt="Phiển bản 2008">
				</li>
			</ul>
			<ul class="work-links">
				<li>
					<a href="" class="c-btn__01">
						<span class="c-btn__01-icon"><img src="<%= RELATIVE_PATH %>img/icon-04.png" alt="icon"></span>
						<span>youtube</span>
					</a>
				</li>
				<li>
					<a href="" class="c-btn__01">
						<span class="c-btn__01-icon"><img src="<%= RELATIVE_PATH %>img/icon-05.png" alt="icon"></span>
						<span>fanpage</span>
					</a>
				</li>
				<li>
					<a href="" class="c-btn__01">
						<span class="c-btn__01-icon"><img src="<%= RELATIVE_PATH %>img/icon-06.png" alt="icon"></span>
						<span>hội nhóm</span>
					</a>
				</li>
			</ul>
		</div>
	</section>
</main>