<main class="page-<%= pageData.template %>">
	<section class="sec-mv">
		<div class="mv-block">
			<h1 class="mv-block__ct">
				<img src="<%= RELATIVE_PATH %>img/mv-note.png" alt="Võ Hiệp Truyền Kỳ II">
			</h1>
			<ul class="mv-block__menu">
				<li class="mv-block__menu-item">
					<a href="" class="c-btn__01">
						<span class="mv-block__menu-icon"><img src="<%= RELATIVE_PATH %>img/icon-01.png" alt="icon" width="69"></span>
						<span>Đăng ký <span>&nbsp;sớm</span></span>
					</a>
				</li>
				<li class="mv-block__menu-item">
					<a href="" class="c-btn__01">
						<span class="mv-block__menu-icon"><img src="<%= RELATIVE_PATH %>img/icon-02.png" alt="icon" width="65"></span>
						<span>
							thông tin<br>
							<span>alpha test</span>
						</span>
					</a>
				</li>
				<li class="mv-block__menu-item">
					<a href="" class="c-btn__01">
						<span class="mv-block__menu-icon"><img src="<%= RELATIVE_PATH %>img/icon-03.png" alt="icon" width="60"></span>
						<span>Tải Game</span>
					</a>
				</li>
			</ul>
		</div>
	</section>
	<section class="sec-gift">
		<div class="inner">
			<div class="gift-block">
				<div class="heading">
					<div class="heading-bg">
						<img src="<%= RELATIVE_PATH %>img/heading-01.png" alt="Võ">
					</div>
					<h2 class="c-ttl__01">
						<span>hẹn ước võ hiệp - quà quý tra<span class="c-fc--red">o tay</span></span>
					</h2>
				</div>
				<div class="gift-block__view">
					<h3 class="gift-block__view-ttl"><span>Số người báo danh đạt</span></h3>
					<span class="gift-block__view-number">50,000</span>
				</div>
				<div class="gift-block__show">
					<div class="gift-block__show-line">
						<img src="<%= RELATIVE_PATH %>img/line.png" alt="line">
						<span class="gift-block__show-line--custom" style="width: 40%"></span>
					</div>
					<ul class="gift-block__list">
						<li class="gift-block__list-item">
							<div class="gift-block__list-box">
								<img src="<%= RELATIVE_PATH %>img/item-gift.png" alt="line">
							</div>
							<div class="gift-block__list-ct">
								quà mốc
								<span>5000</span>
							</div>
							<div class="gift-block__list-note">
								<img src="<%= RELATIVE_PATH %>img/gift-01.png" alt="gift">
							</div>
						</li>
						<li class="gift-block__list-item">
							<div class="gift-block__list-box">
								<img src="<%= RELATIVE_PATH %>img/item-gift.png" alt="line">
							</div>
							<div class="gift-block__list-ct">
								quà mốc
								<span>10000</span>
							</div>
							<div class="gift-block__list-note">
								<img src="<%= RELATIVE_PATH %>img/gift-02.png" alt="gift">
							</div>
						</li>
						<li class="gift-block__list-item">
							<div class="gift-block__list-box">
								<img src="<%= RELATIVE_PATH %>img/item-gift.png" alt="line">
							</div>
							<div class="gift-block__list-ct">
								quà mốc
								<span>20000</span>
							</div>
							<div class="gift-block__list-note">
								<img src="<%= RELATIVE_PATH %>img/gift-03.png" alt="gift">
							</div>
						</li>
						<li class="gift-block__list-item">
							<div class="gift-block__list-box">
								<img src="<%= RELATIVE_PATH %>img/item-gift.png" alt="line">
							</div>
							<div class="gift-block__list-ct">
								quà mốc
								<span>30000</span>
							</div>
							<div class="gift-block__list-note">
								<img src="<%= RELATIVE_PATH %>img/gift-04.png" alt="gift">
							</div>
						</li>
						<li class="gift-block__list-item">
							<div class="gift-block__list-box">
								<img src="<%= RELATIVE_PATH %>img/item-gift.png" alt="line">
							</div>
							<div class="gift-block__list-ct">
								quà mốc
								<span>50000</span>
							</div>
							<div class="gift-block__list-note">
								<img src="<%= RELATIVE_PATH %>img/gift-05.png" alt="gift">
							</div>
						</li>
					</ul>
				</div>
				<a href="" class="c-btn__01">
					<span>Hẹn ước <span>&nbsp;ngay</span></span>
				</a>
			</div>
		</div>
	</section>
	<section class="sec-procedure">
		<div class="inner">
			<div class="heading">
				<div class="heading-bg">
					<img src="<%= RELATIVE_PATH %>img/heading-02.png" alt="Hiệu">
				</div>
				<h2 class="c-ttl__01 c-fc--white">
					<span>thái hư giáng thế - vạn bảo <span class="c-fc--yellow">&nbsp;quy lai</span></span>
				</h2>
			</div>
			<div class="procedure-box">
				<p>Xin vui lòng đăng nhập để tham gia sự kiện này</p>
				<a href="" class="procedure-box__btn">Đăng nhập</a>
			</div>
			<div class="procedure-box ">
				<div class="procedure-box__left">
					Xin chào,  <span>võhiệptruyềnkỳ01</span>
				</div>
				<div class="procedure-box__right">
					<ul class="procedure-box__note">
						<li>
							<a href="" class="procedure-box__btn">Số lượt: 15</a>
						</li>
						<li>
							<a href="" class="procedure-box__btn">Thể lệ</a>
						</li>
						<li>
							<a href="" class="procedure-box__btn">Nhận lượt</a>
						</li>
						<li>
							<a href="" class="procedure-box__btn">Lịch sử</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="procedure-block">
				<div class="procedure-show">
					<div class="procedure-show__item">

					</div>
				</div>
			</div>
		</div>
	</section>
</main>