<main class="page-<%= pageData.template %>">
	<section class="sec-mv">
		<div class="mv-block">
			<h1 class="mv-block__ct">
				<img src="<%= RELATIVE_PATH %>img/mv-note.png" alt="Võ Hiệp Truyền Kỳ II">
			</h1>
			<ul class="mv-block__menu">
				<li class="mv-block__menu-item">
					<a href="" class="c-btn__01">
						<span class="mv-block__menu-icon"><img src="<%= RELATIVE_PATH %>img/icon-01.png" alt="icon" width="69"></span>
						<span>Đăng ký <span>&nbsp;sớm</span></span>
					</a>
				</li>
				<li class="mv-block__menu-item">
					<a href="" class="c-btn__01">
						<span class="mv-block__menu-icon"><img src="<%= RELATIVE_PATH %>img/icon-02.png" alt="icon" width="65"></span>
						<span>
							thông tin<br>
							<span>alpha test</span>
						</span>
					</a>
				</li>
				<li class="mv-block__menu-item">
					<a href="" class="c-btn__01">
						<span class="mv-block__menu-icon"><img src="<%= RELATIVE_PATH %>img/icon-03.png" alt="icon" width="60"></span>
						<span>Tải Game</span>
					</a>
				</li>
			</ul>
		</div>
	</section>
	<section class="sec-gift">
		<div class="inner">
			<div class="gift-block">
				<div class="heading">
					<div class="heading-bg">
						<img src="<%= RELATIVE_PATH %>img/heading-01.png" alt="hẹn ước võ hiệp - quà quý trao tay">
					</div>
				</div>
				<div class="gift-block__view">
					<h3 class="gift-block__view-ttl"><span>Số người báo danh đạt</span></h3>
					<span class="gift-block__view-number">50,000</span>
				</div>
				<div class="gift-block__show">
					<div class="gift-block__show-line">
						<img src="<%= RELATIVE_PATH %>img/line.png" alt="line">
						<span class="gift-block__show-line--custom" style="width: 40%"></span>
					</div>
					<ul class="gift-block__list">
						<li class="gift-block__list-item">
							<div class="gift-block__list-box">
								<img src="<%= RELATIVE_PATH %>img/item-gift.png" alt="line">
							</div>
							<div class="gift-block__list-ct">
								quà mốc
								<span>5000</span>
							</div>
							<div class="gift-block__list-note">
								<img src="<%= RELATIVE_PATH %>img/gift-01.png" alt="gift">
							</div>
						</li>
						<li class="gift-block__list-item">
							<div class="gift-block__list-box">
								<img src="<%= RELATIVE_PATH %>img/item-gift.png" alt="line">
							</div>
							<div class="gift-block__list-ct">
								quà mốc
								<span>10000</span>
							</div>
							<div class="gift-block__list-note">
								<img src="<%= RELATIVE_PATH %>img/gift-02.png" alt="gift">
							</div>
						</li>
						<li class="gift-block__list-item">
							<div class="gift-block__list-box">
								<img src="<%= RELATIVE_PATH %>img/item-gift.png" alt="line">
							</div>
							<div class="gift-block__list-ct">
								quà mốc
								<span>20000</span>
							</div>
							<div class="gift-block__list-note">
								<img src="<%= RELATIVE_PATH %>img/gift-03.png" alt="gift">
							</div>
						</li>
						<li class="gift-block__list-item">
							<div class="gift-block__list-box">
								<img src="<%= RELATIVE_PATH %>img/item-gift.png" alt="line">
							</div>
							<div class="gift-block__list-ct">
								quà mốc
								<span>30000</span>
							</div>
							<div class="gift-block__list-note">
								<img src="<%= RELATIVE_PATH %>img/gift-04.png" alt="gift">
							</div>
						</li>
						<li class="gift-block__list-item">
							<div class="gift-block__list-box">
								<img src="<%= RELATIVE_PATH %>img/item-gift.png" alt="line">
							</div>
							<div class="gift-block__list-ct">
								quà mốc
								<span>50000</span>
							</div>
							<div class="gift-block__list-note">
								<img src="<%= RELATIVE_PATH %>img/gift-05.png" alt="gift">
							</div>
						</li>
					</ul>
				</div>
				<a href="" class="c-btn__01">
					<span>Hẹn ước <span>&nbsp;ngay</span></span>
				</a>
			</div>
		</div>
	</section>
	<section class="sec-procedure">
		<div class="inner">
			<div class="heading">
				<div class="heading-bg">
					<img src="<%= RELATIVE_PATH %>img/heading-02.png" alt="thái hư giáng thế - vạn bảo quy lai">
				</div>
			</div>
			<div class="procedure-heading">
				<div class="procedure-box">
					<p>Xin vui lòng đăng nhập để tham gia sự kiện này</p>
					<a href="" class="procedure-box__btn">Đăng nhập</a>
				</div>
				<div class="procedure-box" style="display: none">
					<div class="procedure-box__left">
						Xin chào,  <span>võhiệptruyềnkỳ01</span>
					</div>
					<div class="procedure-box__right">
						<ul class="procedure-box__note">
							<li>
								<a href="" class="procedure-box__btn">Số lượt: 15</a>
							</li>
							<li>
								<a href="" class="procedure-box__btn">Thể lệ</a>
							</li>
							<li>
								<a href="" class="procedure-box__btn">Nhận lượt</a>
							</li>
							<li>
								<a href="" class="procedure-box__btn">Lịch sử</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="procedure-block">
				<div class="procedure-show">
					<div class="procedure-show__item procedure-show__item--left">
						<div class="procedure-show__bg">
							<img src="<%= RELATIVE_PATH %>img/item-left.png" alt="img">
							<div class="procedure-show__block">
								<h3 class="procedure-show__block-ttl">
									cây bát nhã nhỏ
								</h3>
								<div class="procedure-show__block-img">
									<img src="<%= RELATIVE_PATH %>img/tree-lv2.png" alt="img">
								</div>
								<div class="procedure-show__block-note">
									Độ trưởng thành
									<span>3/5</span>
								</div>
								<a href="" class="c-btn__01">
									<span>Tưới nước</span>
								</a>
							</div>
						</div>
					</div>
					<div class="procedure-show__item procedure-show__item--tight">
						<div class="procedure-show__bg">
							<img src="<%= RELATIVE_PATH %>img/item-right.png" alt="img">
							<div class="procedure-show__block">
								<h3 class="procedure-show__block-ttl">
									cây bát nhã Lớn
								</h3>
								<div class="procedure-show__block-img">
									<img src="<%= RELATIVE_PATH %>img/tree-lv3.png" alt="img">
								</div>
								<div class="procedure-show__block-note">
									Độ trưởng thành
									<span class="c-fc--green">5/5</span>
								</div>
								<a href="" class="c-btn__01">
									<span>Thu Hoạch</span>
								</a>
							</div>
						</div>

					</div>
				</div>
				<div class="procedure-show__bg">
					<img src="<%= RELATIVE_PATH %>img/procedure-af.png" alt="img">
				</div>
			</div>
		</div>
	</section>
	<section class="sec-gallery">
		<div class="inner">
			<div class="heading">
				<div class="heading-bg">
					<img src="<%= RELATIVE_PATH %>img/heading-03.png" alt="thất đại môn phái">
				</div>
			</div>
			<div class="gallery-show">
				<ul class="gallery-show__for">
					<li class="gallery-show__for-item">
						<div class="gallery-block">
							<div class="gallery-block__ttl">
								<img src="<%= RELATIVE_PATH %>img/item-01.png" alt="img">
								<div class="gallery-block__ttl-note">
									<p>
										<strong>Hệ phái:</strong> Võ tông , Thiền Tông, Tục Gia
									</p>
									<p>
										<strong>Tuyệt Học:</strong> Như Lai Thần Chưởng, Kim Cang Phục Ma,...
									</p>
									<p>
										<strong>Vũ Khí:</strong> Thiết Thủ , Côn , Đao, Trượng
									</p>
								</div>
							</div>
							<div class="gallery-block__bg-show">
								<img src="<%= RELATIVE_PATH %>img/bg-show.png" alt="img">
							</div>
							<div class="gallery-block__img">
								<img src="<%= RELATIVE_PATH %>img/show-01.png" alt="img">
							</div>
							<div class="gallery-block__video">
								<img src="<%= RELATIVE_PATH %>img/video.png" alt="img">
							</div>
						</div>
					</li>
					<li class="gallery-show__for-item">
						<div class="gallery-block">
							<div class="gallery-block__ttl">
								<img src="<%= RELATIVE_PATH %>img/item-02.png" alt="img">
								<div class="gallery-block__ttl-note">
									<p>
										<strong>Hệ phái:</strong> Võ tông , Thiền Tông, Tục Gia
									</p>
									<p>
										<strong>Tuyệt Học:</strong> Như Lai Thần Chưởng, Kim Cang Phục Ma,...
									</p>
									<p>
										<strong>Vũ Khí:</strong> Thiết Thủ , Côn , Đao, Trượng
									</p>
								</div>
							</div>
							<div class="gallery-block__bg-show">
								<img src="<%= RELATIVE_PATH %>img/bg-show.png" alt="img">
							</div>
							<div class="gallery-block__img">
								<img src="<%= RELATIVE_PATH %>img/show-02.png" alt="img">
							</div>
							<div class="gallery-block__video">
								<img src="<%= RELATIVE_PATH %>img/video.png" alt="img">
							</div>
						</div>
					</li>
					<li class="gallery-show__for-item">
						<div class="gallery-block">
							<div class="gallery-block__ttl">
								<img src="<%= RELATIVE_PATH %>img/item-03.png" alt="img">
								<div class="gallery-block__ttl-note">
									<p>
										<strong>Hệ phái:</strong> Võ tông , Thiền Tông, Tục Gia
									</p>
									<p>
										<strong>Tuyệt Học:</strong> Như Lai Thần Chưởng, Kim Cang Phục Ma,...
									</p>
									<p>
										<strong>Vũ Khí:</strong> Thiết Thủ , Côn , Đao, Trượng
									</p>
								</div>
							</div>
							<div class="gallery-block__bg-show">
								<img src="<%= RELATIVE_PATH %>img/bg-show.png" alt="img">
							</div>
							<div class="gallery-block__img">
								<img src="<%= RELATIVE_PATH %>img/show-03.png" alt="img">
							</div>
							<div class="gallery-block__video">
								<img src="<%= RELATIVE_PATH %>img/video.png" alt="img">
							</div>
						</div>
					</li>
					<li class="gallery-show__for-item">
						<div class="gallery-block">
							<div class="gallery-block__ttl">
								<img src="<%= RELATIVE_PATH %>img/item-04.png" alt="img">
								<div class="gallery-block__ttl-note">
									<p>
										<strong>Hệ phái:</strong> Võ tông , Thiền Tông, Tục Gia
									</p>
									<p>
										<strong>Tuyệt Học:</strong> Như Lai Thần Chưởng, Kim Cang Phục Ma,...
									</p>
									<p>
										<strong>Vũ Khí:</strong> Thiết Thủ , Côn , Đao, Trượng
									</p>
								</div>
							</div>
							<div class="gallery-block__bg-show">
								<img src="<%= RELATIVE_PATH %>img/bg-show.png" alt="img">
							</div>
							<div class="gallery-block__img">
								<img src="<%= RELATIVE_PATH %>img/show-04.png" alt="img">
							</div>
							<div class="gallery-block__video">
								<img src="<%= RELATIVE_PATH %>img/video.png" alt="img">
							</div>
						</div>
					</li>
					<li class="gallery-show__for-item">
						<div class="gallery-block">
							<div class="gallery-block__ttl">
								<img src="<%= RELATIVE_PATH %>img/item-05.png" alt="img">
								<div class="gallery-block__ttl-note">
									<p>
										<strong>Hệ phái:</strong> Võ tông , Thiền Tông, Tục Gia
									</p>
									<p>
										<strong>Tuyệt Học:</strong> Như Lai Thần Chưởng, Kim Cang Phục Ma,...
									</p>
									<p>
										<strong>Vũ Khí:</strong> Thiết Thủ , Côn , Đao, Trượng
									</p>
								</div>
							</div>
							<div class="gallery-block__bg-show">
								<img src="<%= RELATIVE_PATH %>img/bg-show.png" alt="img">
							</div>
							<div class="gallery-block__img gallery-block__img--othe">
								<img src="<%= RELATIVE_PATH %>img/show-05.png" alt="img">
							</div>
							<div class="gallery-block__video">
								<img src="<%= RELATIVE_PATH %>img/video.png" alt="img">
							</div>
						</div>
					</li>
					<li class="gallery-show__for-item">
						<div class="gallery-block">
							<div class="gallery-block__ttl">
								<img src="<%= RELATIVE_PATH %>img/item-06.png" alt="img">
								<div class="gallery-block__ttl-note">
									<p>
										<strong>Hệ phái:</strong> Võ tông , Thiền Tông, Tục Gia
									</p>
									<p>
										<strong>Tuyệt Học:</strong> Như Lai Thần Chưởng, Kim Cang Phục Ma,...
									</p>
									<p>
										<strong>Vũ Khí:</strong> Thiết Thủ , Côn , Đao, Trượng
									</p>
								</div>
							</div>
							<div class="gallery-block__bg-show">
								<img src="<%= RELATIVE_PATH %>img/bg-show.png" alt="img">
							</div>
							<div class="gallery-block__img">
								<img src="<%= RELATIVE_PATH %>img/show-06.png" alt="img">
							</div>
							<div class="gallery-block__video">
								<img src="<%= RELATIVE_PATH %>img/video.png" alt="img">
							</div>
						</div>
					</li>
					<li class="gallery-show__for-item">
						<div class="gallery-block">
							<div class="gallery-block__ttl">
								<img src="<%= RELATIVE_PATH %>img/item-07.png" alt="img">
								<div class="gallery-block__ttl-note">
									<p>
										<strong>Hệ phái:</strong> Võ tông , Thiền Tông, Tục Gia
									</p>
									<p>
										<strong>Tuyệt Học:</strong> Như Lai Thần Chưởng, Kim Cang Phục Ma,...
									</p>
									<p>
										<strong>Vũ Khí:</strong> Thiết Thủ , Côn , Đao, Trượng
									</p>
								</div>
							</div>
							<div class="gallery-block__bg-show">
								<img src="<%= RELATIVE_PATH %>img/bg-show.png" alt="img">
							</div>
							<div class="gallery-block__img">
								<img src="<%= RELATIVE_PATH %>img/show-07.png" alt="img">
							</div>
							<div class="gallery-block__video">
								<img src="<%= RELATIVE_PATH %>img/video.png" alt="img">
							</div>
						</div>
					</li>
				</ul>
				<ul class="gallery-show__nav">
					<li class="gallery-show__nav-item">
						<div class="gallery-show__nav-box">
							<img src="<%= RELATIVE_PATH %>img/icon-list-01.png" alt="img" class="img-01">
							<img src="<%= RELATIVE_PATH %>img/icon-list-01-hv.png" alt="img" class="img-02">
						</div>
					</li>
					<li class="gallery-show__nav-item">
						<div class="gallery-show__nav-box">
							<img src="<%= RELATIVE_PATH %>img/icon-list-02.png" alt="img" class="img-01">
							<img src="<%= RELATIVE_PATH %>img/icon-list-02-hv.png" alt="img" class="img-02">
						</div>
					</li>
					<li class="gallery-show__nav-item">
						<div class="gallery-show__nav-box">
							<img src="<%= RELATIVE_PATH %>img/icon-list-03.png" alt="img" class="img-01">
							<img src="<%= RELATIVE_PATH %>img/icon-list-03-hv.png" alt="img" class="img-02">
						</div>
					</li>
					<li class="gallery-show__nav-item">
						<div class="gallery-show__nav-box">
							<img src="<%= RELATIVE_PATH %>img/icon-list-04.png" alt="img" class="img-01">
							<img src="<%= RELATIVE_PATH %>img/icon-list-04-hv.png" alt="img" class="img-02">
						</div>
					</li>
					<li class="gallery-show__nav-item">
						<div class="gallery-show__nav-box">
							<img src="<%= RELATIVE_PATH %>img/icon-list-05.png" alt="img" class="img-01">
							<img src="<%= RELATIVE_PATH %>img/icon-list-05-hv.png" alt="img" class="img-02">
						</div>
					</li>
					<li class="gallery-show__nav-item">
						<div class="gallery-show__nav-box">
							<img src="<%= RELATIVE_PATH %>img/icon-list-06.png" alt="img" class="img-01">
							<img src="<%= RELATIVE_PATH %>img/icon-list-06-hv.png" alt="img" class="img-02">
						</div>
					</li>
					<li class="gallery-show__nav-item">
						<div class="gallery-show__nav-box">
							<img src="<%= RELATIVE_PATH %>img/icon-list-07.png" alt="img" class="img-01">
							<img src="<%= RELATIVE_PATH %>img/icon-list-07-hv.png" alt="img" class="img-02">
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<section class="sec-work">
		<div class="inner">
			<div class="heading">
				<div class="heading-bg">
					<img src="<%= RELATIVE_PATH %>img/heading-04.png" alt="Hoạt động đặc sắc">
				</div>
			</div>
			<ul class="work-banner">
				<li class="work-banner__item">
					<img src="<%= RELATIVE_PATH %>img/banner-01.jpg" alt="Phiển bản 2008">
				</li>
				<li class="work-banner__item">
					<img src="<%= RELATIVE_PATH %>img/banner-01.jpg" alt="Phiển bản 2008">
				</li>
				<li class="work-banner__item">
					<img src="<%= RELATIVE_PATH %>img/banner-01.jpg" alt="Phiển bản 2008">
				</li>
				<li class="work-banner__item">
					<img src="<%= RELATIVE_PATH %>img/banner-01.jpg" alt="Phiển bản 2008">
				</li>
				<li class="work-banner__item">
					<img src="<%= RELATIVE_PATH %>img/banner-01.jpg" alt="Phiển bản 2008">
				</li>
				<li class="work-banner__item">
					<img src="<%= RELATIVE_PATH %>img/banner-01.jpg" alt="Phiển bản 2008">
				</li>
				<li class="work-banner__item">
					<img src="<%= RELATIVE_PATH %>img/banner-01.jpg" alt="Phiển bản 2008">
				</li>
				<li class="work-banner__item">
					<img src="<%= RELATIVE_PATH %>img/banner-01.jpg" alt="Phiển bản 2008">
				</li>
			</ul>
		</div>
	</section>
</main>